.paquete{
    margin-top: 30px;
}
.paquete h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.paquete-lista{
    display: grid;  
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}